@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.main {
  font-family: "Roboto", sans-serif;
}
/* -- -----Left part------- -- */
.left {
  width: 25vw;
}
.home ul li {
  width: 14px;
  display: flex;
  gap: 14px;
  margin-top: 15px;
  font-weight: bold;
}
.library {
  min-height: 75vh;
  position: relative;
}
.library .heading {
  width: 100%;
  display: flex;
  gap: 14px;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px 15px;
}

.library .heading img {
  width: 25px;
}
.library .footer {
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 10px;
}
.library .footer a {
  color: gray;
}
.footer div a {
  text-decoration: none;
}
/* -- -----Right part------- -- */
.right {
  width: 75vw;
}
.header{
  background-color: #1c1c1c;
}
.header .nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .arrow img {
  margin-right: 25px;
  width: 15px;
}
.headerbtn-1 {
  color: rgb(201, 196, 196);
  cursor: pointer;
  border: none;
  font-weight: 600;
  background: #1c1c1c;
}
.headerbtn-2 {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  color: #000;
  border: none;
}

